@import "../../assets/scss/utils";

.Pagination {
  display: flex;
  width: 100%;
  height: 100px;
  align-items: center;

  &-Btn {
    min-width: 40px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 50%;
    box-shadow: 0 0 4px 1px deepskyblue;
    color: deepskyblue;
    background-color: map_get($colors, bg-dark);
  }

  &-List {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    flex-grow: 1;
    margin: 0;
    padding: 0 10px;
    list-style: none;
    overflow-x: hidden;
  }
}

@media (max-width: $largestMobileScreen) {
  .Pagination {
    padding: 0 8px;
    width: 100%;
  }
}
