@import "../../assets/scss/utils";

.Page {
  padding: 10px 10px 12px;
  border-radius: 20px;
  box-shadow: 0 0 4px 1px deepskyblue,
    inset 0 0 0 3px map_get($colors, bg-dark);

  &_display {
    display: none;
  }

  &_active {
    color: black;
    background-color: goldenrod;
  }
}
