@import "assets/scss/utils";

br {
  display: none;
}

p {
  margin: 0;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: rem(12);
  color: map_get($colors, bg-light);
  background-color: map_get($colors, bg-dark);
}
