@import "assets/scss/utils";

br {
  display: none;
}

p {
  margin: 0;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: rem(12);

  &-List {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &-Item {
    margin: 0 10px;
  }
}
